body {
  background-color:rgb(96,147,172);
  font-size: 16px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

header {
background-color: rgb(95,158,160);
padding: 5px 0;
display: flex;
align-items:left;
justify-content:left;
}

header img {
width: 125px;
height: auto;
}

.headings {
display: flex;
flex-direction: column;
}

.heading h1 {
font-size: 2rem;
color:rgb(96,147,172) ;
margin: 0;
}

.motto {
font-style: italic;
color: rgb(96,147,172);
font-size: 1rem;
letter-spacing: 1.5pt;
}

h2 {
  background-color: rgb(183,179,168);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  color: antiquewhite;
}
p {
  font-family: 'Franklin Gothic light';
  font-size: 14px;
  color: antiquewhite;
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
ul {
  font-family: 'Franklin Gothic light';
  font-size: 14px;
  color: antiquewhite;
}

footer {
  font-family: 'Franklin Gothic light';
  font-size: 15px;
  color: antiquewhite;
}
.logo-box {
  background-color: white;
  border-radius: 20px 20px 0 0; 
  padding: 0.5em; 
  border: 5px solid rgb(176,176,176) 
}
.banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
.banner-box img {
  grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
  grid-row: 1;
}
  
.action {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(240, 240, 240, 0.8);
  margin: 1em 3em;
  padding: 1em;
  text-align: center;
}
  
.action button {
  line-height: 2em;
  width: 10em;
  background-color: #e7c24f;
  font-size: 1.2em;
}