body {
  background-color:rgb(96,147,172);
  font-size: 16px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

header {
background-color: navy;
padding: 5px 0;
display: flex;
align-items:center;
justify-content:center;
}

header img {
width: 125px;
height: auto;
}

.headings {
display: flex;
flex-direction: column;
}

.heading h1 {
font-size: 2rem;
color: Antiquewhite;
margin: 0;
}

.motto {
font-style: italic;
color: antiquewhite;
font-size: 1rem;
letter-spacing: 1.5pt;
}

h2 {
  background-color: rgb(183,179,168);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  color: antiquewhite;
}
p {
  font-family: 'Franklin Gothic light';
  font-size: 14px;
  color: antiquewhite;
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
  font-family: 'Franklin Gothic light';
  font-size: 14px;
  color: antiquewhite;
}

footer {
  font-family: 'Franklin Gothic light';
  font-size: 15px;
  color: antiquewhite;
}
