.img {
  max-width: 100%;
}
.card-body {
 width: 320px;
 box-shadow: 1px 1px 4px 1px #888;
 border-radius: 3px;
 background-color: white;
 padding: 5px 0px 5px 0px;
}
.card-text {
   font-style: helvetica;
   padding: 7px;
}

.card-link {
  padding: 3px;
 width: 320px;
 box-shadow: 1px 1px 1px 1px #888;
 border-radius: 2px;
 background-color: white;
  color: #888;
  font-style: helvetica;
  text-decoration: none;
}



 